.quiz-container {
    padding: 15px;

    .title {
        font-size: 27px;
        font-weight: 600;
    }

    legend {
        font-size: 13px;
    }

    .add-new {
        .more-actions {
            .image-preview {
                text-align: center;
            }
        }
    }
}